* {
	margin-left: 0;
	margin-right: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    padding: 20px;
	background-color: #f8f8ff;
}

.interaction {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -310px;
	margin-top: -150px;
}

.background {
	display: flex;
	position: absolute;
	justify-content: center;
	height: 300px;
	width: 300px;
	border-style: solid;
	border-width: thin;
	border-color: black;
	background-color: #eeeeee;
}

#image {
	position: absolute;
	height: 250px;
	width: 250px;
	top: 25px;
}

#add_file {
	position: absolute;
	top: 310px;
}

#text_field {
	position: absolute;
	left: 320px;
}

#text {
	margin: 20px 20px 20px 20px;
}