body {
    overflow: hidden;
	background-color: #f8f8ff;
}

#text-box {
	max-height: 636px;
	overflow: scroll;
}

.column {
	height: 100%;
}

.box {
	height: 100%;
}

#image {
	height: 200px;
}
