<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P3 Team 6</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="interaction">
		<form id="file_upload" action="/process" method="post" enctype="multipart/form-data">
			<div id="image_field" class="background">
				<img id="image" />
			</div>
			<input id="add_file" type="file" accept="image/*"/>
		</form>
		<div id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"/>             
    <script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
